<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_office</title>
    <link rel="stylesheet" href="../../static/main/css/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="../../index.html"><img src="../../static/main/img/logo.png" alt=""></a>
        </div>
        <div class="s-head">
            <ul>
            <li><button onclick="window.location.href='../../index.html'" class="head-button">Головна сторінка</li>
            <li><button onclick="window.location.href='../../templates/main/add_worker.html'" class="head-button">Додати працівника</li>
            <li><button onclick="window.location.href='../../templates/main/add_office.html'" class="head-button">Додати офіс</li>
            <li><button onclick="window.location.href='../../templates/main/del_office.html'" class="head-button">Видалити офіс</li>
            <li><button onclick="window.location.href='../../templates/main/salary.html'" class="head-button">Список робітників</li>
            </ul>
        </div>
    </header>
    
    <main>
        <h1>Додати Офіс</h1>
        <form class="form-2">
            <div class="form-group">
              <input class="form-input" placeholder=" ">
              <label class="form-label">Країна</label>
            </div>
            <div class="form-group">
                <input class="form-input" placeholder=" ">
                <label class="form-label">Місто</label>
              </div>
            <div class="form-group">
                <input class="form-input" placeholder=" ">
                <label class="form-label">Адреса</label>
            </div>
            <div class="form-group">
                <input class="form-input" placeholder=" ">
                <label class="form-label">Назва</label>
            </div>
            <button type="submit" class="head-button">Відправити</button>
          </form>
        
    </main>
    <footer>
        <p>&copy; 2024 Workers. Усі права захищено.</p>
    </footer>
</body>
</html>
