<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workers</title>
    <link rel="stylesheet" href="../../static/main/css/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="../../index.html"><img src="../../static/main/img/logo.png" alt=""></a>
        </div>
        <div class="s-head">
            <ul>
            <li><button onclick="window.location.href='../../index.html'" class="head-button">Головна сторінка</li>
            <li><button onclick="window.location.href='../../templates/main/add_worker.html'" class="head-button">Додати працівника</li>
            <li><button onclick="window.location.href='../../templates/main/add_office.html'" class="head-button">Додати офіс</li>
            <li><button onclick="window.location.href='../../templates/main/del_office.html'" class="head-button">Видалити офіс</li>
            <li><button onclick="window.location.href='../../templates/main/salary.html'" class="head-button">Список робітників</li>
            </ul>
        </div>
    </header>
    <h1>Видалити офіс</h1>
    <main-2 class="grid-container">
      <div class="container">
        <div class="h-container"> 
            <div class="hh-container"> 
            <p>Офіс N</p>
            </div>
        </div>
        <div class="in-container_of">
          <p>Назва: ******</p>
              <p>Країна: ******</p>
              <p>Місто: ******</p>
              <p>Адреса: ******</p>
            <button type="submit" class="container-button">Видалити</button>
        </div>
    </div>
        <div class="container">
          <div class="h-container"> 
              <div class="hh-container"> 
              <p>Офіс N</p>
              </div>
          </div>
          <div class="in-container_of">
            <p>Назва: ******</p>
                <p>Країна: ******</p>
                <p>Місто: ******</p>
                <p>Адреса: ******</p>
              <button type="submit" class="container-button">Видалити</button>
          </div>
      </div>
      <div class="container">
        <div class="h-container"> 
            <div class="hh-container"> 
            <p>Офіс N</p>
            </div>
        </div>
        <div class="in-container_of">
          <p>Назва: ******</p>
              <p>Країна: ******</p>
              <p>Місто: ******</p>
              <p>Адреса: ******</p>
            <button type="submit" class="container-button">Видалити</button>
        </div>
    </div>
    </main-2>
    <main-2 class="grid-container">
      <div class="container">
        <div class="h-container"> 
            <div class="hh-container"> 
            <p>Офіс N</p>
            </div>
        </div>
        <div class="in-container_of">
          <p>Назва: ******</p>
              <p>Країна: ******</p>
              <p>Місто: ******</p>
              <p>Адреса: ******</p>
            <button type="submit" class="container-button">Видалити</button>
        </div>
    </div>
        <div class="container">
          <div class="h-container"> 
              <div class="hh-container"> 
              <p>Офіс N</p>
              </div>
          </div>
          <div class="in-container_of">
            <p>Назва: ******</p>
                <p>Країна: ******</p>
                <p>Місто: ******</p>
                <p>Адреса: ******</p>
              <button type="submit" class="container-button">Видалити</button>
          </div>
      </div>
      <div class="container">
        <div class="h-container"> 
            <div class="hh-container"> 
            <p>Офіс N</p>
            </div>
        </div>
        <div class="in-container_of">
          <p>Назва: ******</p>
              <p>Країна: ******</p>
              <p>Місто: ******</p>
              <p>Адреса: ******</p>
            <button type="submit" class="container-button">Видалити</button>
        </div>
    </div>
    </main-2>
    <footer>
        <p>&copy; 2024 Workers. Усі права захищено.</p>
    </footer>
    </body>
</html>
