<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../../static/registration/css/registration.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../static/main/img/logo.png" alt="">
        </div>
    </header>
    
    <main>
        <h1>Реєстрація</h1>
        <form class="form-2">
            <div class="form-group">
              <input class="form-input" placeholder=" ">
              <label class="form-label">Ім'я</label>
            </div>
            <div class="form-group">
                <input class="form-input" placeholder=" ">
                <label class="form-label">Ім'я на сайті</label>
              </div>
              <p>Дата народження</p>
            <div class="form-group">
                <input class="form-input" type="date" placeholder=" ">
            </div>
            <div class="form-group">
                <input class="form-input" placeholder=" ">
                <label class="form-label">Пошта</label>
            </div>
            <div class="form-group">
                <input class="form-input" placeholder=" ">
                <label class="form-label">Пароль</label>
            </div>
            <div class="form-group">
                <input class="form-input" placeholder=" ">
                <label class="form-label">Повторіть пароль</label>
            </div>
            <ul>
                <li><button type="button" onclick="location.href='../registration/login.html'" class="head-button">Зареєстуватися</li>
            </ul>
            
          </form>
        
    </main>
    <footer>
        <p>&copy; 2024 Workers. Усі права захищено.</p>
    </footer>
</body>
</html>
